{% extends 'main.html' %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center">Anmeldung BEAK-Vertreter</h1>
    </div>
    <p></p>
    <div class="container">
        <form action="." class="form" id="kita-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% block form_info %}
                <p>*Alle Felder sind Pflichtfelder</p>
            {% endblock %}
            <button class="g-recaptcha"
                    data-sitekey="{{ reCAPTCHA_site_key }}"
                    data-callback='onSubmit'
                    data-action='submit'>Eintragen
            </button>
        </form>
    </div>
    <p></p>
    {% include 'contact_info.html' %}
{% endblock %}